@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  margin: 0;
  background: #000;
  color: #fff;
  font-family:
    "Noto Sans TC", system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
  overflow: hidden;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
